<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="MyString" value="Hi folks!" />
    <add key="MyNumber" value="5" />
    <add key="MyUri" value="https://www.google.com/" />
    <add key="MyBoolThatMustBeDefined" value="True" />
    <add key="MyIpAddress" value="192.168.0.10" />
    <add key="Logging:MaximumLevel" value="Warning" />
    <add key="Logging:FilePath" value="c:/temp/Logs" />
    <add key="Logging:MinimumLevel" value="Debug" />
    <add key="Logging:DatePattern" value="YYYYMMDD" />
  </appSettings>
  <connectionStrings>
    <add name="MyDb" connectionString="Data Source=thiswontwork;User Id=thiswontwork;Password=thiswontwork;enlist=false" />
    <add name="NServiceBus/Transport" connectionString="Data Source=OWP_LIST;Initial Catalog=NServiceBus;Integrated Security=True;MultiSubnetFailover=True" />
    <add name="NServiceBus/Persistence" connectionString="Data Source=OWP_LIST;Initial Catalog=NServiceBus;Integrated Security=True;MultiSubnetFailover=True" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>